
1. device_type required fields:
    model
    slug

2. device_roles required fields:
    name
    slug

3. site required fields:
    name
    slug
    region

4. region require_fields:
    name
    slug
    description

5. devices required fields:
    device_type
    device_role
    site

6. inteface

7. upload IPAM interfaces
    address
    device
    interface