{
  "id": "{{ v11 }}",
  "name": "{{ v1 }}",
  "custom_fields": {
      "ANY_CAST_SID":{{ v10 }},
      "SID_ABSOLUTE_PREFIX":{{ v8 }},
      "SID_ABSOLUTE_STRICT_PREFIX": {{ v9 }},
      "PHASE": "{{ v12 }}"
      }
}
