{
  "name": "{{ v1 }}",
  "device_type": {"model":"{{ v2 }}","slug":"{{ v8 }}"},
  "device_role": {"name":"{{ v3 }}","slug":"{{ v9 }}"},
  "platform": {"name":"Cisco XR","slug":"cisco-xr"},
  "site": {"name":"{{ v4 }}","slug":"{{ v10 }}"},
  "status": "active",
  "custom_fields": {}
}
