{
  "address": "{{ v4 }}",
  "status": "active",
  "assigned_object_type":"dcim.interface",
  "assigned_object_id":"{{ v5 }}",
  "assigned_object": {
    "id": "{{ v5 }}",
    "device": {
        "name": "{{ v1 }}",
        "display_name": "{{ v1 }}"
    },
    "name": "{{ v2 }}",
    "cable": null,
    "connection_status": null,
    "description":"{{ v3 }}"
    }
}
