{
  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
  "url": "string",
  "name": "string",
  "slug": "string",
  "status": "active",
  "region": {
    "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
    "url": "string",
    "name": "string",
    "slug": "string",
    "site_count": 0,
    "_depth": 0
  },
  "tenant": {
    "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
    "url": "string",
    "name": "string",
    "slug": "string"
  },
  "facility": "string",
  "asn": 0,
  "time_zone": "string",
  "description": "string",
  "physical_address": "string",
  "shipping_address": "string",
  "latitude": "string",
  "longitude": "string",
  "contact_name": "string",
  "contact_phone": "string",
  "contact_email": "user@example.com",
  "comments": "string",
  "tags": [
    {
      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
      "url": "string",
      "name": "string",
      "slug": "string",
      "color": "string"
    }
  ],
  "custom_fields": {},
  "created": "2021-03-22",
  "last_updated": "2021-03-22T01:46:09.076Z",
  "circuit_count": 0,
  "device_count": 0,
  "prefix_count": 0,
  "rack_count": 0,
  "virtualmachine_count": 0,
  "vlan_count": 0
}